In [ ]:
# Задание 1
#The Moscow Times - Wednesday, October 2, 2002
#The Guardian - Friday, 11.10.13
#Daily News - Thursday, 18 August 1977

In [2]:
from datetime import datetime

In [7]:
theMoscowTimes = 'Wednesday, October 2, 2002'
datetime.strptime(theMoscowTimes, '%A, %B %d, %Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [10]:
theGuardian = 'Friday, 11.10.13'
datetime.strptime(theGuardian, '%A, %d.%m.%y')

datetime.datetime(2013, 10, 11, 0, 0)

In [11]:
dailyNews = 'Thursday, 18 August 1977'
datetime.strptime(dailyNews, '%A, %d %B %Y')

datetime.datetime(1977, 8, 18, 0, 0)

In [ ]:
# Задание 2

In [9]:
from datetime import datetime

stream = ['2018-04-02', '2018-02-29', '2018-19-02']
date_template = '%Y-%m-%d'

def check_date(date_str):
    try:
        datetime.strptime(date_str, date_template)
        return True
    except:
        return False

for date_str in stream:
    print(date_str)
    print(check_date(date_str))

2018-04-02
True
2018-02-29
False
2018-19-02
False

In [ ]:
# Задание 3

In [24]:
from datetime import datetime
from datetime import timedelta

date_template = '%Y-%m-%d'

def date_range(start_date_str, end_date_str):
    try:
        start_date = datetime.strptime(start_date_str, date_template)
        end_date = datetime.strptime(end_date_str, date_template)
    
        if start_date > end_date:
            return []
        else:
            result = []
            result.append(start_date)
        
            while start_date < end_date:
                next_date = start_date + timedelta(days=1)
                result.append(next_date)
                start_date = next_date
            return result
    except:
        return []

print(date_range('2000-01-01', '2000-01-05'))
print(date_range('2000-01-06', '2000-01-05'))
print(date_range('2000-01-01', '2000-01-01'))
print(date_range('2000-01-01', '2000-01-89'))

[datetime.datetime(2000, 1, 1, 0, 0), datetime.datetime(2000, 1, 2, 0, 0), datetime.datetime(2000, 1, 3, 0, 0), datetime.datetime(2000, 1, 4, 0, 0), datetime.datetime(2000, 1, 5, 0, 0)]
[]
[datetime.datetime(2000, 1, 1, 0, 0)]
[]