In [ ]:
#Задание 1.
#Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
#- оценка 2 и меньше - низкий рейтинг
#- оценка 4 и меньше - средний рейтинг
#- оценка 4.5 и 5 - высокий рейтинг

#Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
Total = ratings.merge(movies, on=["movieId"], how='inner')
pvt = Total.pivot_table(index=['title','movieId'], values = 'rating', aggfunc='mean')
pvt.head()

                                                   rating
title                                   movieId
"Great Performances" Cats (1998)        51372    1.750000
$9.99 (2008)                            74486    3.833333
'Hellboy': The Seeds of Creation (2004) 97757    2.000000
'Neath the Arizona Skies (1934)         70121    0.500000
'Round Midnight (1986)                  26564    2.250000

In [3]:
pvt=pvt.reset_index()

In [4]:
def classification(i):
    if i  <= 2:
        return 'низкий рейтинг'
    elif i  <= 4 and i >2:
        return 'средний рейтинг'
    elif i  >4.5:
        return 'высокий рейтинг'

In [5]:
pvt['class'] = pvt['rating'].apply(classification)
pvt.head()

                                     title  movieId    rating            class
0         "Great Performances" Cats (1998)    51372  1.750000   низкий рейтинг
1                             $9.99 (2008)    74486  3.833333  средний рейтинг
2  'Hellboy': The Seeds of Creation (2004)    97757  2.000000   низкий рейтинг
3          'Neath the Arizona Skies (1934)    70121  0.500000   низкий рейтинг
4                   'Round Midnight (1986)    26564  2.250000  средний рейтинг

In [ ]:
# Задание 2
#Используем файл keywords.csv.

In [6]:
import pandas as pd

In [7]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [8]:
def geo_cl(row):
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'псков' in row['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    else:
        return 'undefined'

keywords['region'] = keywords.apply(geo_cl, axis=1)
keywords['region'].value_counts()

undefined         99281
Центр               387
Северо-Запад        238
Дальний Восток       94
Name: region, dtype: int64