In [ ]:
#Задание 1. Скачайте с сайта grouplens.org...movielens/ датасет любого размера.
#Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [4]:
movies_data = pd.read_csv('movies.csv', sep = (','))
ratings_data = pd.read_csv('ratings.csv', sep = (','))
#объединение таблиц
data = ratings_data.merge(movies_data, how = 'inner')
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [5]:
#фильтр по рейтингу 5.0
data2 = data[data['rating'] == 5.0]
data2.head()

,userId,movieId,rating,timestamp,title,genres
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,40,1,5.0,832058959,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
13,43,1,5.0,848993983,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
16,46,1,5.0,834787906,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
19,57,1,5.0,965796031,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [8]:
data2['title'].value_counts()

Shawshank Redemption, The (1994)               153
Pulp Fiction (1994)                            123
Forrest Gump (1994)                            116
Matrix, The (1999)                             109
Star Wars: Episode IV - A New Hope (1977)      104
                                              ...
BURN-E (2008)                                    1
Professional, The (Le professionnel) (1981)      1
Wild Parrots of Telegraph Hill, The (2003)       1
Flawless (1999)                                  1
Knockin' on Heaven's Door (1997)                 1
Name: title, Length: 2954, dtype: int64

In [ ]:
#Задание 2. По данным файла power.csv посчитайте суммарное потребление 
#стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года.
#Не учитывайте в расчетах отрицательные значения quantity.

In [16]:
import pandas as pd

In [17]:
data = pd.read_csv('power.csv', sep = (','))
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [18]:
#фильтр по стране и категории
filtered_countries = data[((data['country'] == 'Latvia') | (data['country'] == 'Lithuania') | (data['country'] == 'Estonia'))\
                          & ((data['category'] == 4) | (data['category'] == 12) |(data['category'] == 21))]

In [19]:
#фильтр по годам и без отрицательных значений
filtered_countries = filtered_countries[(filtered_countries['year'] > 2004) & (filtered_countries['year'] < 2011)\
                                        & filtered_countries['quantity'] > 0]

In [22]:
filtered_countries.groupby('country')['quantity'].sum()[1]

54844.0

In [ ]:
#Задание 3.Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [13]:
import pandas as pd

In [15]:
data=pd.read_html('https://fortrader.org/quotes')[2]
data.head()

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 787       -0.0          -0.0        NaN
1  Серебро Цена на серебро на бирже  26.45        0.0           0.0        NaN
2         Палладий Цена на Палладий  2 785       -4.0          -0.0        NaN
3           Платина Цены на платину  1 090       -1.0          -0.0        NaN
4           Медь Цена меди на бирже   4.28        0.0           0.0        NaN